:root{
    --bg-color: #0e5b50;
    --text-color: #ffffff;
    --prog-bar-color: #558b83;
    --prog-bar-filled-color: #ffffff;
    --radio-element-bg-color: #276c62;
    --radio-element-bg-hover-color: #578d85;
    --radio-element-border-color: #a9c4c0;
    --radio-element-border-active-color: #ffffff;
    --radio-element-key-label-bg-color: #0e5b50;
    --radio-element-key-label-bg-active-color: #ffffff;
    --radio-element-key-label-border-color: #9fbdba;
    --radio-element-key-label-border-active-color: #ffffff;
    --text-element-border-color: #578d85;
    --text-element-border-focus-color: #f9f9f9;
    --text-element-placeholder-color: #578d85;
    --form-button-bg-color: #f9f9f9;
    --form-button-bg-active-color: #d3d3d3;
    --form-button-text-color: #7a7a7a;
    --form-button-arrow-middle-border: #c1c1c1;
    --form-button-arrow-disabled-color: #b5b5b5;
    --form-validation-error-text-color: #af0404;
    --form-validation-error-bg-color: #f7e6e6;
}
body{
    background-color: var(--bg-color);
    overflow: hidden;
    font-family: sans-serif;
}
.loader{
    width: 7%;
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.error{
    color:var(--form-validation-error-text-color);
    background-color: var(--form-validation-error-bg-color);
    border-radius: 3px;
    padding: 7px;
    width: fit-content;
    font-weight: unset;
    font-size: 14px;
    line-height: 20px;
    min-height: 28px;
    outline: 0px;
    padding: 4px 8px;
    position: relative;
}
.form{
    position: relative;
    top: 21%;
    width: 70%;
    margin: auto;
}
.form-input-radio, .form-input-yes-no{
    width: fit-content;
    margin-bottom: 1em;
}
.form-item, .form-input-radio input, .form-title, .form-input-yes-no input{
    display: block;
    margin: 15px;
    margin-left: 0;
    margin-top: 0;
    color: var(--text-color);
    position: relative;
}
.form-title{
    font-size: 150%;
    width: 100%;

}
.form-item{
    width: 107%;
    display: flex;
    margin: auto;
    margin-top: 31vh;
    margin-left: -36px;
    margin-bottom: 111vh;
    position: relative;


}
.form-input-radio .form-element, .form-input-yes-no .form-element{
    margin-bottom: 10px;
    border: solid 0.5px var(--radio-element-border-color);
    border-radius: 4px;
    background-color: var(--radio-element-bg-color);
    height: 37px;
    display: flex;
    padding-right: 13px;
    min-width: 166px;

}
.form-button{
    background: var(--form-button-bg-color);
    width: fit-content;
    height: fit-content;
    display: inline-block;
    text-align: center;
    padding: 7px 16px;
    border-radius: 3px;
    font-weight: bolder;
    color: var(--form-button-text-color);
    font-size: 19px;
    box-shadow: var(--bg-color) 0px 3px 12px 0px;
}
.form-button-enter{
    display: inline-block;
    margin-left: 14px;
    font-size: 11.5px;
}
.form-button:active, .form-button:hover{
    cursor: pointer;
}
.form-button:active{
    transition: all 350ms;
    background: var(--form-button-bg-active-color);
}
.form-numbering-arrow{
    margin-top: 0.75em;
    margin-right: 13px;;
}
.form-numbering{
    margin-top: 0.6em;
    margin-right: 5px;
    font-size: 14px;
}

.form-input-radio .form-element:hover,
.form-input-yes-no .form-element:hover{
    cursor: pointer;
    background-color: var(--radio-element-bg-hover-color);
}

.form-element-key{
    border: solid 0.5px var(--radio-element-key-label-border-color);
    font-weight: 100;
    font-size: 12px;
    padding: 2px 5px;
    margin: auto 0;
    margin-left: 5px;
    background-color: var(--radio-element-key-label-bg-color);
    visibility: hidden;
    border-radius: 2px;
    left: -26px;
    position: relative;
}
.form-input-radio .form-element:hover .form-element-key,
.form-input-yes-no .form-element:hover .form-element-key {
    visibility: visible;    
    border-right: none;
}
.form-input-radio .form-element:hover .form-element-label,
.form-input-yes-no .form-element:hover .form-element-label{
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form-input-text .form-element{
    background-color: var(--bg-color);
    border: none;
    border-bottom: 0.5px solid var(--text-element-border-color);
    margin-top:15px;
    margin-bottom: 24px;
    min-width: 100%;
    height: 43px;
    font-size: 167%;
    color: var(--text-color);
    
}
::placeholder {
    color: var(--text-element-placeholder-color);
    opacity: 1; 
}
  
:-ms-input-placeholder {
    color: var(--text-element-placeholder-color);
}

::-ms-input-placeholder {
    color: var(--text-element-placeholder-color);
}
.form-input-text .form-element:-webkit-autofill,
.form-input-text .form-element:-webkit-autofill:hover,
.form-input-text .form-element:-webkit-autofill:focus, 
.form-input-text .form-element:-webkit-autofill:active{
    -webkit-text-fill-color: var(--text-color);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
    box-shadow: 0 0 0px 1000px var(--bg-color) inset;
}

@-moz-document url-prefix(){
    .form-input-text .form-element:focus {
        outline: none;
    }
}
.form-input-text .form-element:focus{
    outline-width: 0;
    caret-color: var(--text-color);
    border-bottom: 2px solid var(--text-element-border-focus-color);
    

}
.form-element-label{
    border: solid 0.5px var(--radio-element-key-label-border-color);
    font-weight: 900;
    font-size: 12px;
    padding: 2px 7px;
    margin: auto 0;
    margin-left: 5px;
    background-color: var(--radio-element-key-label-bg-color);
    border-radius: 2px;
    left: -33px;
    position: relative;
}

.form-element-text{
    margin: auto;
    width: 120%;
    margin-left: -26px;
    min-width: 70px;
    
}
.form-element-tick{
    position: relative;
    margin: auto;
    padding-left: 10px;

}
.rating-star{
    display: inline-block;
}

.rating-star-numbering{
    display: block;
    text-align: center;
    margin-top: 15px;
}
.rating-star i{
    font-size: 50px;
}
.rating-star>i:hover{
    opacity: 50%;
    cursor: pointer;
}
.form-input-rating .form-element{
    margin-bottom: 1em;
}
.footer{
    position: absolute;
    bottom: 19px;
    right: 24px;
    background: var(--form-button-bg-color);
    display: flex;
    width: 56px;
    height: 26px;
    border-radius: 3px;
    transform: scale(1.4);
}
.footer-item{
    margin: 0 auto;
}
.footer-arrow{
    transition: all 500ms;
    line-height: 25px !important;
    color: var(--form-button-text-color);
    flex-grow: 1;
    text-align: center;
    font-weight: bolder !important;

}
.footer-arrow:first-child{
    border-right:  var(--form-button-arrow-middle-border) 0.5px solid;
}
.footer-arrow:hover{
    cursor: pointer;
}
.footer-arrow:active{
    background: var(--form-button-bg-active-color);
    transition: all 300ms;
    cursor: pointer;

}
.footer-arrow:first-child:active{
    border-radius: 3px 0 0 3px;
}
.footer-arrow:last-child:active{
    border-radius: 0 3px 3px 0;
}
.fa-arrow-right{
    font-size: 10px !important;
}
.bar{
    min-height: 3.5px;
    background-color: var(--prog-bar-color);
    height: 3.5px;
}
.container-fluid{
    padding: 0;
}
.bar-filled{
    height: 100%;
    width: 0%;
    background-color: var(--prog-bar-filled-color);
    transition: all 500ms ease-out;
}
@media screen and (max-width: 768px) {
    .footer{
        visibility: hidden;
    }
    .form-item{
        transform: scale(100%);
    }
}
@media screen and (max-width: 569px){
    .form-input-text .form-element{
        font-size: 100%;
    }
}
@media screen and (max-width: 365px){
    .form-item{
        width: 117%;
    }
    .form-input-text .form-element{
        font-size: 85%;
    }
}
@media screen and (min-width: 375px){
    .form-item{
        width: 114%;
    }
}
@media screen and (min-width: 425px){
    .form-item{
        width: 112.5%;
    }
}
@media screen and (min-width: 768px){
    .form-item{
        width: 107.5%;
    }
}
@media screen and (min-width: 1024px){
    .form-item{
        width: 105.5%;
    }
}
@media screen and (min-width: 1440px){
    .form-item{
        width: 104%;
    }
}
@media screen and (min-width: 2560px){
    .form-item{
        width: 104%;
    }
}
